* { 
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.header-div {  
  background: linear-gradient(90deg, purple, white 99%);
  padding: 25px 0px;
  margin: -10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}  

.header-div > img { 
  margin-right: 30px;
  margin-top: 25px;
} 

.header { 
  margin-left: 10px;
} 

.text-div { 
  display: flex; 
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 30px;
} 

.submit-btn { 
  margin-top: 15px;
  width: 75%; 
  height: 40px; 
  background: linear-gradient(90deg, white 1%, purple);
  border: none;
}

input { 
  width: 40%;
  height: 35px;
}  

.button-div { 
  display: flex;
  justify-content: center;
}

.meme--image {
  width: 100%;
  border-radius: 3px;
  justify-content: center;
  align-items: center; 
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.meme {
  position: relative;
  /* justify-content: center;
  align-items: center; */
}


.bottom {
  bottom: 0;
}

.top {
  top: 0;
}

.form--button { 
    grid-column: 1 / -1;
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    color: white;
    border: none;
    cursor: pointer;
}

.form--input {
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  text-indent: 5px;
  width: 100%;
}

.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
  margin-bottom: 17px;
}

main {
  padding: 36px;
}