* { 
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.header-div {  
  background: linear-gradient(90deg, purple, white 99%);
  padding: 25px 0px;
  margin: -10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}  

.header-div > img { 
  margin-right: 30px;
  margin-top: 25px;
} 

.header { 
  margin-left: 10px;
} 

.text-div { 
  display: flex; 
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 30px;
} 

.submit-btn { 
  margin-top: 15px;
  width: 75%; 
  height: 40px; 
  background: linear-gradient(90deg, white 1%, purple);
  border: none;
}

input { 
  width: 40%;
  height: 35px;
}  

.button-div { 
  display: flex;
  justify-content: center;
}

.meme--image {
  max-width: 100%;
  border-radius: 3px;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.meme {
  position: relative;
}


.bottom {
  bottom: 0;
}

.top {
  top: 0;
}

